.header {
  background-color: #49fcd4;
  background-image: url("/bg.svg");
  background-attachment: fixed;
	background-position: -50% 10%;
	background-repeat: repeat-y;
	background-size: 75% auto;
  padding: 2rem 10rem 0 5rem;
}

.header::before {
  transition: opacity 1s ease;
  
  display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50vw;
	z-index: -1;
}

.headerContent {
  // margin-left: auto;
  // width: 22rem;
  margin-top: 20vh;
}

.logo {
  margin: 0 0 2.3rem 0;
}

.logoImage {
  position: relative;
  width: 100%;
}

.slogan {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.175rem;
  line-height: 2.5;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
}

